{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Subsctiption App | Login</title>

    <!-- Bootstrap core CSS -->
     <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/floating-labels.css" %}" rel="stylesheet">
  </head>

  <body>
    <div class="form-signin">
      <div class="text-center mb-4">
        <img class="mb-4" src="{% static "img/login.png" %}" alt="" width="80" height="80">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <p><a href="{% url "home_page" %}">Back to homepage</a></p>
      </div>

      			{% if messages %}
					<ul class="messages">
					    {% for message in messages %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><p style="color:red;">{{ message }}</p></li>
					    {% endfor %}
					    
					</ul>
					
					{% endif %}

					{% if user.account_status == True and Expires.expires == True and not request.user.is_staff %}

					{% if not user.is_active  %}
					
					<ul>
						<li><p style="color:green;">You paid for your subscrption.Wait for confirmation</p></li>
					</ul>
					
					{% endif %}

					{% elif user.account_status == True %}

					<ul>
						<li><p style="color:green;">Your account is approved.You need to active it by buy a subscription</p></li>
						<li><p style="color:green;">To buy a subscription,please got to <a href="{% url "Payments:user_pay" %}">This Link</a></p></li>

					</ul>
					{% endif %}
      		<form method="POST" action="">{% csrf_token %}
	
			{{ form|crispy }}

				<br>
				<input type="submit" value="Login" class="btn btn-primary" style="width:100%">
			</form>

			<br/>
			<p>Don't have account ? You can sign up from <a href="{% url "Subscriber:register" %}">here</a></p>

    </div>
  </body>
</html>
