{% if request.user.is_userchecker %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Subsctiption App | Activate User</title>

    <!-- Bootstrap core CSS -->
     <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/floating-labels.css" %}" rel="stylesheet">
  </head>

  <body>
    <div class="form-signin">
      <div class="text-center mb-4">
        <img class="mb-4" src="{% static "img/login.png" %}" alt="" width="80" height="80">
        <h1 class="h3 mb-3 font-weight-normal">Activate User</h1>
      
      	</div>	<p style="color:red;">Username : <b>{{ qs.username }}</b></p>
      			<p style="color:red;">Email	: <b>{{ qs.email }}</b></p>


				<form method="POST" action="" > {% csrf_token %}

					{{ form.as_p }}
					<input type="submit" value="Activate" name="activate" class="btn btn-primary" style="width:100%">
					
				</form>
				<hr>
				<form method="POST" accept=""> {% csrf_token %}
						<input type="submit" value="Reject" name="reject" class="btn btn-danger" style="width:100%">
				</form>
    </div>
  </body>
</html>
{% else %}
Have no permision

{% endif %}
